<!DOCTYPE html>
<html lang="pl_PL">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('./partials/navigation', { menuLinks, activeLinkPath }) %>
    <main>
      <h1 class="heading">Logout</h1>
    </main>
  </body>
</html>